@import "variables";

#toggler {
  background-image: url("../images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 28px;
  width: 28px;
  display: none;
  cursor: pointer;
  z-index: 4;
}

nav {
  position: absolute;
  color: $text-white;
  z-index: 2;
  width: 55%;
  height: 15%;
  transition: height 0.3s ease-in-out;
  @include flex(row, flex-start, center);

  h3 {
    margin-left: 3rem;
    font-size: $header-three;
    font-weight: weight("medium");
  }

  ul {
    @include flex(row, space-between, center);
    margin-left: 2rem;

    li {
      margin-left: 1.3rem;
      font-size: $small-text;
      position: relative;
    }

    & a:hover::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 3px;
      background-color: $text-white;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  nav {
    width: 70%;

    ul {
      margin-left: 0.45rem;
    }
  }
}

@media screen and (max-width: $small-screen) {
  #toggler {
    position: absolute;
    display: block;
    z-index: 3;
    left: 5%;
  }

  nav {
    width: 100%;
    justify-content: center;

    ul {
      display: none;
    }

    h3 {
      font-size: mob-font("header1");
      text-align: center;
      margin: 0;
    }
  }

  nav.open {
    a {
      color: black;
      font-weight: weight("medium");
    }

    height: 100vh;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(0, 0, 0, 0.4) 15%,
      rgba(0, 0, 0, 0.4) 100%
    );

    h3 {
      display: none;
    }

    ul {
      display: flex;
      width: 100%;
      height: 15%;
      padding: 1rem 1rem 1rem 2rem;
      flex-wrap: nowrap;
    }

    #toggler {
      background-image: url("../images/icon-close.svg");
      top: 5%;
    }
  }
}
