$dark-gray: hsl(0, 0%, 63%);
$very-dark-gray: hsl(0, 0, 27%);
$text-white: #fff;
$text-dark: #000;
$header-one: 2.2rem;
$header-three: 1.6rem;
$paragraph: 0.78rem;
$small-text: 0.8rem;
$standard-font-size: 12px;
$font-weights: (
  "regular": 500,
  "medium": 600,
  "bold": 700,
);
$medium-screen: 950px;
$small-screen: 600px;
$mobile-fonts: (
  "header1": 1.7rem,
  "paragraph": 0.85rem,
  "header3": 0.7rem,
);

@mixin cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center center;

  @media screen and (max-width: 1200px) {
    object-fit: fill;
    object-position: center center;
  }

  @media screen and(max-width: $medium-screen) {
    object-fit: cover;
    object-position: auto;
  }
}

@mixin flex($direction, $justify: center, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@function weight($weight) {
  @return map-get($font-weights, $weight);
}

@function mob-font($size) {
  @return map-get($mobile-fonts, $size);
}
