@import "variables";
@import "global";
@import "nav";
@import "controls";
@import "button";

.cover {
  @include cover;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr;
  grid-template-rows: 2.5fr 1fr;
  grid-auto-rows: 1fr;

  .img-container {
    grid-column: 1 / span 2;
    position: relative;
  }

  .descriptions {
    @include flex(column, center, center);
    height: 100%;
    position: relative;
    grid-column: span 2;

    .text-container {
      padding: 2rem 15%;
    }

    h1,
    p {
      margin-bottom: 2rem;
    }

    button {
      margin-bottom: 1.6rem;
    }

    h1 {
      font-size: $header-one;
      font-weight: weight(medium);
    }
  }

  .image {
    overflow-y: hidden;
  }
  .image img {
    @include cover;
  }

  .about {
    @include flex(column);
    grid-column: span 2;
    padding: 0 3rem;

    h3 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      width: 100%;
      letter-spacing: 0.25rem;
    }
  }
}

@import "mobile";
